#content{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://images5.alphacoders.com/858/858608.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#image1{
 height: 360px;
}
