#content{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://sm.ign.com/ign_latam/news/m/masahiro-s/masahiro-sakurai-explains-what-the-super-smash-bros-logo-sym_5zh2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header{
  background-image: url("https://i.redd.it/9000j1zhtn311.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 130px;
}

h1{
 padding-top: 50px;
 text-align: center;
 color: white;
}

#image1, #image2{
  margin-top: 10px;
  margin-bottom: 10px;
}

#image1{
  margin-right: 10px;
  float: left;
  height: 290px;
  margin-top: 25px;
}

#image2{
  float: right;
  height: 400px;
  margin-left: 10px;
  margin-bottom: 35px;
}

#content p{
  text-align: justify;
  color: white;
  margin-left: 50px;
  margin-right:50px;
}

#footer p {
  text-align: center;
}

#video{
 position: right;
}

#footer{
 clear: both;
 background-color: FireBrick;
 color: white;
 padding: 45px;
}


